*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.produto{
    border: 5px solid #f5f5;
    border-radius: 20px;
    width: 10vw;
    padding: 30px;
    margin: 15px;
}

.model{
    display: none;
    visibility: hidden;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-modal{
    width: 20%;
    height: 35%;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 60px 100px;
}

.form-modal>input{
    margin: 15px 0;
}

#cancel{
    position: absolute;
    top: 20px;
    right: 20px;
}