@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

#email{
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#username{
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px; 
}

.form{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 45%;
    top: 40%;
    padding-bottom: 30px;
    width: 150px;
    height: 50%;
}

button{
    border-radius: 15px;
}

.item{
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 214, 214);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
    padding: 20px;
}

.modelo{
    display: none;
}

.posts{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.posts>h1{
    border-bottom: 1px solid black;
}

#usuario{
    display: flex;
    justify-content: end;
    padding: 20px;
}