@font-face {
    font-family: 'pokemon_gbregular';
    src: url('./fonts/pokemon/pokemon_gb-webfont.woff2') format('woff2'),
        url('./fonts/pokemon/pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgba(0, 0, 0, 0.747);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pokemon_gbregular';
}

.header {
    height: 15vh;
    width: 100%;
    background-color: rgb(255, 255, 37);
    display: flex;
    align-items: center;
}

.header>img {
    height: 100px;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: white;
    margin-left: 50px;
    margin-top: 45px;
    border-radius: 10px;
box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.card-img {
    width: 250px;
    image-rendering: pixelated;
}

.model {
    display: none !important;
}

.container {
    margin: 50px;
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.pixel2 {
    font-size: 25px;
    color: white;
    height: 50px;
    margin: 20px;
    font-family: 'VT323';
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pixel2:active {
    top: 2px;
}
.pixel2 {
    position: relative;
    display: flex;
    margin: 10px;
    font-family: 'VT323';
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}
.pixel2::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: black;
    z-index: -1;
}
.pixel2::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: black;
    z-index: -1;
}
.pixel2 {
    padding: 10px 10px;
    position: relative;
    background: black;
    width: auto;
    z-index: 2;
}