@font-face {
    font-family: 'pokemon_gbregular';
    src: url('./fonts/pokemon/pokemon_gb-webfont.woff2') format('woff2'),
         url('./fonts/pokemon/pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgba(0, 0, 0, 0.747);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pokemon_gbregular';
}

.header{
    height: 15vh;
    width: 100%;
    background-color: rgb(255, 255, 37);
    display: flex;
    align-items: center;
}

.header>img{
    height: 100px;
}

.page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: white;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
}

.card-img{
    width: 250px;
    image-rendering: pixelated;
}

.model{
    display: none!important;
}

#botao{
    
}